@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    margin: 0;
    
}
.navbar{
    height: 9vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 241, 241);
    border-bottom:5px solid black;
}
.clearButton{
    border:5px solid black;
    background-color: red;
    font-family: 'Staatliches',sans-serif;
}


.container{
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    top:10%;
    left:0;
    background-color: aqua;
    width: 100vw;
    height: 90vh;
}
.gridPart{ 
    margin:0;
    padding:0;
}
.gridPart:hover,.gridPart:focus{
    background-color: black;
}